{# Override this file if you want to bring your own features to app header. #}
<nav class="bg-gray-800">
    <div class="p-4 sm:px-6 lg:px-8">
        <div class="text-white">
            Backoffice
        </div>
    </div>
</nav>