/.idea/
/vendor/
/phan_result.txt
/coverage/
/composer.lock
/qa_report/
/infection.log
/.phpunit.result.cache
/.php-cs-fixer.cache
/tools

/src/Jadob/Core/vendor
/src/Jadob/Core/composer.lock
/src/Jadob/Bridge/Monolog/vendor
/src/Jadob/Bridge/Monolog/composer.lock
/src/Jadob/Bridge/Aws/vendor
/src/Jadob/Bridge/Aws/composer.lock
/src/Jadob/Bridge/Aws/Ses/vendor
/src/Jadob/Bridge/Aws/Ses/composer.lock
/src/Jadob/Bridge/Twig/vendor
/src/Jadob/Bridge/Twig/composer.lock
/src/Jadob/EventDispatcher/vendor
/src/Jadob/EventDispatcher/composer.lock
/src/Jadob/Bridge/Doctrine/Annotations/vendor
/src/Jadob/Bridge/Doctrine/Annotations/composer.lock
/src/Jadob/Bridge/Doctrine/ORM/vendor
/src/Jadob/Bridge/Doctrine/ORM/composer.lock