parameters:
    level: 10
    paths:
        - src
        - tests
includes:
        - resources/code-quality/phpstan-baseline.neon
        - tests/unit/Jadob/Container/phpstan.neon
        - vendor/phpstan/phpstan-strict-rules/rules.neon