<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.4/phpunit.xsd"
         backupGlobals="true"
         bootstrap="vendor/autoload.php"

         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnPhpunitDeprecations="true"
         colors="true"
>

  <logging/>
  <testsuites>
    <testsuite name="unit">
      <directory>./tests/unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
