<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="true" backupStaticAttributes="false" bootstrap="vendor/autoload.php" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" colors="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <file>src/Jadob/Debug/templates/error_view.php</file>
      <file>src/Jadob/Debug/templates/profiler.php</file>
      <file>src/Jadob/Config/Tests/includes/2/with_parameter.php</file>
      <file>src/Jadob/Objectable/resources/templates/php_default/action_field.php</file>
      <file>src/Jadob/Objectable/resources/templates/php_default/no_results_found.php</file>
      <file>src/Jadob/Objectable/resources/templates/php_default/single.php</file>
      <file>src/Jadob/Objectable/resources/templates/php_default/table.php</file>
    </exclude>
    <report>
      <html outputDirectory="coverage" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <logging/>
  <testsuites>
    <testsuite name="unit">
      <directory>./tests/unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
